html {
    height: 100%; //позволит растянуть сайт на 100% высоты
}
body{
    height: 100%;
    background: linear-gradient(to top left, #5b5997, #b15959, #5b5997);
}

.datium-logo{
    text-align: center;
    color: #ffffff;                     /*цвет вводимого текста*/
}