
@font-face {
    font-family: RobotoThin; /* Гарнитура шрифта */
    src: url("../fonts/roboto-thin.ttf"); /* Путь к файлу со шрифтом */
   }

.datium-auth-login, .datium-auth-register{
    margin: 0 auto;
    padding: 1% 1% 0.5%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
}

.datium-auth-login{
    width: 50%;
}

.datium-auth-register{
    width: 75%;
}

#register__group {
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 2px; /*скругленные углы*/
    padding: 2px 30px; /*отступ текста от внутренней границы*/
    height: 38px;
    color: #ffffff; /*цвет вводимого текста*/
    font: 30px RobotoThin;
    letter-spacing: 1px; /*межсимвольный интервал*/

}


input[type="text"]{
    margin: 0px 0px;
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 2px;                 /*скругленные углы*/

    padding: 2px 15px;              /*отступ текста от внутренней границы*/
    height: 38px;
    color: #ffffff;                     /*цвет вводимого текста*/
    font: 30px RobotoThin;
    letter-spacing: 1px;                /*межсимвольный интервал*/
}

input[type="email"]{
    margin: 0px 0px;
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 2px;                 /*скругленные углы*/
    padding: 2px 15px;              /*отступ текста от внутренней границы*/
    height: 38px;
    color: #ffffff;                     /*цвет вводимого текста*/
    font: 30px RobotoThin;
    letter-spacing: 1px;                /*межсимвольный интервал*/
}

input[type="password"]{
    margin: 0px 0px;
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 2px;                 /*скругленные углы*/
    height: 40px;
    padding: 0px 15px 2px;              /*отступ текста от внутренней границы*/
    color: #ffffff;                     /*цвет вводимого текста*/
    font: 30px RobotoThin;
    letter-spacing: 1px;                /*межсимвольный интервал*/
}
.btn-auth{
    margin: 0 auto;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 2px;                 /*скругленные углы*/
    color: #ffffff;                     /*цвет надписи*/
    font: 30px RobotoThin;
    letter-spacing: 1px;                /*межсимвольный интервал*/
}
.datium-auth-register .btn-auth{
    width: 40%;
    margin-left: 30%;
}
input[type="checkbox"]{
   /* margin: 20px 5px 0 35px;*/
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 5px;                 /*скругленные углы*/
    height: 15px;                    /*360-15-15*/
    width: 15px;
}

a[type="register"]{
    display: block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: rgba(239, 150, 164, 0.71);
    font: 18px RobotoThin;
}
a[type="register"]:hover{
    text-decoration: underline ;
}

.datium-auth-login label, .datium-auth-register label{
    color: rgba(255,255,255,1);
}


.datium-auth-login h1, .datium-auth-register h1{
    color: #ffffff;
}
