<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Datium -- Home</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/teachers-styles.css" rel="stylesheet">
    <link href="../css/datium-main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <header><h1 class="col-xs-11 col-xs-offset-2">Datium</h1></header>
    <div class="row">
        <div class="col-xs-2">

            <div name="Menu" role="navigation" class="navbar navbar-default">
                <ul class="nav nav-pills nav-stacked ">
                    <li role="presentation" class="active">
                        <a href="#">Main
                            <i class="glyphicon glyphicon-menu-left"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="#">Subjects
                            <i class="glyphicon glyphicon-menu-left"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="#">Calendar
                            <i class="glyphicon glyphicon-menu-left"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="#">Our group
                            <i class="glyphicon glyphicon-menu-left"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="#">Library
                            <i class="glyphicon glyphicon-menu-left"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="#">Settings</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-xs-7">
            <div name="mainContent">

                <div name="header">
                    <i class="glyphicon glyphicon-menu-left"></i>Lecturers
                    <hr>

                    <ul name="range" class="nav nav-pills nav-justified">
                        <li><a href="#"><font size="4">Current</font></a></li>
                        <li><a href="#"><font size="4">Favorite</font></a></li>
                        <li class="active">
                            <a href="#"><font size="4">All</font></a>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div class="col-xs-1">
                    <ul name="letters">
                        <li>А</li>
                        <li>Б</li>
                        <li>Г</li>
                        <li>Е</li>
                        <li>К</li>
                        <li>Л</li>
                        <li>М</li>
                        <li>О</li>
                    </ul>
                </div>
                <div class="col-xs-11">
                    <ul name="teachersList" class="nav nav-pills nav-stacked">
                        <li>АНДРИАНОВ Сергей Николаевич<i class="glyphicon glyphicon-star"></i></li>
                        <li class="dline">БАБАДЖАНЯНЦ Левон Константинович<i class="glyphicon glyphicon-star"></i></li>
                        <li>БРЭГМАН Константин Михайлович<i class="glyphicon glyphicon-star"></i></li>
                        <li class="dline">ГРОМОВА Екатерина Викторовна<i class="glyphicon glyphicon-star"></i></li>
                        <li class="dline">ЕРЕМИН Алексей Сергеевич<i class="glyphicon glyphicon-star"></i></li>
                        <li class="dline">КОЗЫРЕВА Екатерина Васильевна<i class="glyphicon glyphicon-star"></i></li>
                        <li class="dline">ЛЕПИХИН Тимур Андреевич<i class="glyphicon glyphicon-star"></i></li>
                        <li class="dline">МАКЕЕВ Иван Владимирович<i class="glyphicon glyphicon-star"></i></li>
                        <li>МАТРОСОВ Александр Васильевич<i class="glyphicon glyphicon-star"></i></li>
                        <li>МЫШКОВ Станислав Константинович<i class="glyphicon glyphicon-star"></i></li>
                        <li class="dline">ОРЛОВ Вячеслав Борисович<i class="glyphicon glyphicon-star"></i></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>