<div class="content-wrapper">
    <h1 class="datium-page-title">Здесь будет календарь</h1>
</div>
<br>
<div class="content-wrapper" ng-controller="NewsController as newsCtrl">
    <h1 class="datium-page-title">Новости</h1>
    <div class="content-main">

        <form role="form" ng-submit="newsCtrl.publish()">
                <div class="form-group">
                    <label for="news-title" class="datium-profile-label">Title</label>
                    <input name="news-title" type="text" ng-model="newsCtrl.title" >
                </div>

                <div class="form-group">
                    <label for="news-text" class="datium-profile-label">Text</label>
                    <input name="news-text" type="text" ng-model="newsCtrl.text">
                </div>
                <div class="form-group">
                    <button type="submit" class="datium-profile-button">Publish</button>
                </div>
        </form>

        <div class="datium-news" ng-repeat="new in newsCtrl.news">
            <span class="datium-news-title">
                {{new.title}}
            </span>
            <b class="datium-news-time">( {{ new.pub_date  | date:"dd/MM/yyyy ' ' HH:mm"  }} )</b>
            <div class="datium-news-body">
                {{ new.text }}
            </div>
            <b class="datium-news-author" ng-controller="UsersController as UsersCtrl">{{  }}</b>
        </div>
    </div>
</div>