<div class="col-lg-3 col-lg-offset-4">
  <form role="form" ng-submit="vm.register()">
    <div class="form-group">
      <label for="register__username">Имя пользователя</label>
      <input type="text"
             name="register__username"
             id="register__username"
             class="form-control"
             ng-model="vm.username" />
    </div>

    <div class="form-group" ng-controller="GroupsController as ctrl">
      <label for="register__group">Группа</label>
      <select id="register__group"
              class="form-control"
              ng-model="vm.group">
        <option ng-repeat="group in ctrl.groups" value="{{ group.name }}">
            {{ group.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="register__email">Email</label>
      <input type="email"
             name="register__email"
             id="register__email"
             class="form-control"
             ng-model="vm.email" />
    </div>

    <div class="form-group">
      <label for="register__password">Пароль</label>
      <input type="password"
             name="register__password"
             id="register__password"
             class="form-control"
             ng-model="vm.password" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default btn-auth">
        Создать аккаунт
      </button>
    </div>
  </form>
   <a type="register" href="login">Войти</a>
</div>
