<div class="content-wrapper">
    <div class="content-header">
        <h3 class="datium-page-title">
            <i class="glyphicon glyphicon-menu-left"></i>Lecturers </h3>
        <hr>

    </div>
    <div class="content-main">
        <form name="editableForm" onaftersave="vm.update()" editable-form>
            <div class="content-main-teachers">
                <ul name="range" class="nav nav-pills nav-justified">
                    <li><a href="#">Current</a></li>
                    <li><a href="#">Favorite</a></li>
                    <li class="active">
                        <a href="#">All</a>
                    </li>
                </ul>
                <hr>
                <div class="row content-main">
                    <div class="col-xs-1">
                        <ul name="letters">
                            <li>А</li>s
                            <li>Б</li>
                            <li>Г</li>
                            <li>Е</li>
                            <li>К</li>
                            <li>Л</li>
                            <li>М</li>
                            <li>О</li>
                        </ul>
                    </div>
                    <div class="col-xs-11 content-main">
                        <div class="nav ">
                            <h2 ng-repeat="teacher in vm.teachers">
                                <a href="/teachers/{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }} <i class="glyphicon glyphicon-star"></i></a>
                            </h2>

                        </div>
                    </div>
                </div>
                <hr>
            </div>





        </form>
    </div>
</div>