<div class="content-wrapper">
    <div class="content-header">
        <a href="/teachers" class="datium-back"><i class="glyphicon glyphicon-menu-left"></i>Lecturers</a>
    </div>
    <div class="content-main">
        <div class="datium-teacher-title">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="daitum-teacher-fio">
                        <b>ФАМИЛИЯ</b>
                        <br>
                        Имukvjnsvя Оverkjsvnkeтчество
                    </h3>
                </div>
                <div class="col-md-5">
                    <h4 class="datium-teacher-degree">
                        Доктор физико-математических наук<br>
                        Профессор
                    </h4>
                </div>
                <div class="col-md-2">
                    <img src="http://s.sharecare.com/static/img/default-avatar.jpg" class="img-circle datium-teacher-avatar">
                </div>
            </div>
        </div>
        <div class="datium-teacher-contact-info">
            <h4 class="daitum-teacher-subtitle">Contact info</h4>
            <hr class="datium">
            <div class="row content-main">
                <div class="col-md-3">
                    <span class="datium-profile-label">E-mail</span>
                </div>
                <div class="col-md-9">
                    <span class="datium-profile-field">fff@gmail.cmos</span>
                </div>
            </div>
            <div class="row content-main">
                <div class="col-md-3">
                    <span class="datium-profile-label">Phone</span>
                </div>
                <div class="col-md-9">
                    <span class="datium-profile-field">(123)4556234</span>
                </div>
            </div>
            <div class="row content-main">
                <div class="col-md-3">
                    <span class="datium-profile-label">Cabinet</span>
                </div>
                <div class="col-md-9">
                    <span class="datium-profile-field">239, ПМ-ПУ</span>
                </div>
            </div>
        </div>
        <div class="datium-teacher-liter">
            <h4 class="daitum-teacher-subtitle">Literature</h4>
            <hr class="datium">
            <div class="row content-main">
                <div class="col-md-2">
                    <span class="datium-teacher-book-authors">Автор 1, Автор 2, Автор3, 259c.</span>
                </div>
                <div class="col-md-2 datium-teacher-book">
                    <span class="datium-teacher-book-title">Классическая механика</span>
                    <span class="datium-teacher-book-type">Учебное пособие</span>
                    <span class="datium-teacher-book-year">2013</span>
                </div>
                <div class="col-md-2">
                    <span class="datium-teacher-book-authors">Автор 1, Автор 2, Автор3, 259c.</span>
                </div>
                <div class="col-md-2 datium-teacher-book">
                    <span class="datium-teacher-book-title">Классическая механика</span>
                    <span class="datium-teacher-book-type">Учебное пособие</span>
                    <span class="datium-teacher-book-year">2013</span>
                </div>
                <div class="col-md-2">
                    <span class="datium-teacher-book-authors">Автор 1, Автор 2, Автор3, 259c.</span>
                </div>
                <div class="col-md-2 datium-teacher-book">
                    <span class="datium-teacher-book-title">Классическая механика</span>
                    <span class="datium-teacher-book-type">Учебное пособие</span>
                    <span class="datium-teacher-book-year">2013</span>
                </div>
                <div class="col-md-2">
                    <span class="datium-teacher-book-authors">Автор 1, Автор 2, Автор3, 259c.</span>
                </div>
                <div class="col-md-2 datium-teacher-book">
                    <span class="datium-teacher-book-title">Классическая механика</span>
                    <span class="datium-teacher-book-type">Учебное пособие</span>
                    <span class="datium-teacher-book-year">2013</span>
                </div>
            </div>
        </div>
        <div class="datium-teacher-extra">
            <h4 class="daitum-teacher-subtitle">Additional info</h4>
            <hr class="datium">
            <div class="row content-main">
                <div class="col-md-3">
                    <span class="datium-profile-label">Next lesson</span>
                </div>
                <div class="col-md-9 datium-profile-field">
                        <div class="col-md-3 datium-teacher-next-lesson">21 april</div>
                        <div class="col-md-2 datium-teacher-next-lesson">9.30</div>
                        <div class="col-md-3 datium-teacher-next-lesson">Физика</div>
                        <div class="col-md-2 datium-teacher-next-lesson">ВО, 215 к.</div>
                        <div class="col-md-2 datium-teacher-next-lesson">11.05</div>
                </div>
            </div>
        </div>
    </div>
</div>